<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Wind 交易监控系统1.0 _ 行情源配置</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="/statics/css/global.css?<?php echo time();?>"/>
	<script type="text/javascript" src="/statics/js/jquery.min.js"></script>
	<script type="text/javascript" src="/statics/js/jquery.caret.js"></script>
	<script type="text/javascript" src="/statics/js/jquery.ipaddress.js"></script>
	<script type="text/javascript" src="/statics/js/num.js"></script>
	<style type="text/css">
		div.main { padding:20px 30px; }
		input[type="text"]{width:300px;}
	</style>
    <script type="text/javascript">
		function close_layer(){
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}
		
		function showErrMsg(msg){
			var errMsgObj = document.getElementById('errMsg');
			errMsgObj.innerText = msg;
			errMsgObj.style.display = 'inline-block';
		}
		
		// 获取待交互的主框架
		function MainFrame(){
			return parent.mainFrame.contentWindow ? parent.mainFrame.contentWindow : parent.mainFrame;
		}
		
		//提交添加/修改
		function ok(){	
			var QuoSrc = document.getElementById('QuoSrc').value;
			if (QuoSrc==''){
				showErrMsg('目标服务器不能为空！');
				return false;
			}
			var IP = document.getElementById('IP').value;
			if (IP==''){
				showErrMsg('IP不能为空！');
				return false;
			}
			var Port = document.getElementById('Port').value;
			if (Port==''){
				showErrMsg('端口不能为空！');
				return false;
			}
			var User = document.getElementById('User').value;
			if (User==''){
				showErrMsg('用户不能为空！');
				return false;
			}
			var Pwd = document.getElementById('Pwd').value;
			if (Pwd==''){
				showErrMsg('密码不能为空！');
				return false;
			}
			var MarketFilter = document.getElementById('MarketFilter').value;
			if (MarketFilter==''){
				showErrMsg('市场列表不能为空！');
				return false;
			}

			//添加、修改都要检查：目标服务器、市场列表必须统一
			var bError = false;
			$('#<?php echo $tableid;?> tr:nth-child(n+2):not(.selected)', MainFrame().document).each(function(){
				if ( QuoSrc == $(this).children('td').eq(1).text() &&
					MarketFilter != $(this).children('td').eq(6).text()) {
					
					showErrMsg('同一目标服务器，市场列表必须相同！');
					bError = true;
					return false; //=break
				}
			});
			if (bError) 
				return false;
			
			MainFrame().quosrc_callback('<?php echo $tableid;?>', '<?php echo $oper;?>', QuoSrc, IP, Port, User, Pwd, MarketFilter);
			close_layer();
		}
		
		$(function(){
	        <?php if ($oper=='mod'): ?>
			//修改时加载初始数据
			var trObj = $('#<?php echo $tableid;?>', MainFrame().document).find('tr.selected');
			$('#QuoSrc').val(trObj.children('td').eq(1).text());
			$('#IP').val(trObj.children('td').eq(2).text());
			$('#Port').val(trObj.children('td').eq(3).text());
			$('#User').val(trObj.children('td').eq(4).text());
			$('#Pwd').val(trObj.children('td').eq(5).text());
			$('#MarketFilter').val(trObj.children('td').eq(6).text());
			<?php else:?>
				$('.ip').ipaddress();
			<?php endif ?>
	     });
	</script>
</head>

<body>
<div class="main">
	<table class="tb_layout" style="width:470px;">
		<tr>
			<td style="width:100px;">目标服务器：</td>
			<td style="width:350px;"><input type="text" style="width:340px" id="QuoSrc"/></td>
		</tr>
		<tr>
			<td>IP地址：</td>
			<td><input type="text" id="IP" name="IP" style="width:98%;" value="" class="ip"/></td>
		</tr>
		<tr>
			<td>端口：</td>
			<td><input type="text" style="width:340px" id="Port"/></td>
		</tr>
		<tr>
			<td>用户：</td>
			<td><input type="text" style="width:340px" id="User"/></td>
		</tr>
		<tr>
			<td>密码：</td>
			<td><input type="text" style="width:340px" id="Pwd"/></td>
		</tr>
		<tr>
			<td>市场列表：</td>
			<td><input type="text" style="width:340px" id="MarketFilter"/></td>
		</tr>
		<tr>
			<td></td>
			<td style="height:40px;">
				<input type="submit" onclick="ok();" value="确定"/>
				&nbsp;&nbsp;<input type="reset" onclick="close_layer();" value="取消"/>
				<a id="errMsg" style="color:red;margin-left:10px;display:none;"></a>
			</td>
		</tr>
	</table>
</div>
</body>
</html>
