<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Wind 交易监控系统1.0 _ 密码修改</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="/statics/css/global.css?<?php echo time();?>"/>
	<style type="text/css">
		div.main { padding:12px 30px; }
	</style>
	<script type="text/javascript">
		function showErrMsg(msg){
			var errMsgObj = document.getElementById('errMsg');
			errMsgObj.innerText = msg;
			errMsgObj.style.display = 'inline-block';
		}

		function checkSubmit(){			
			var oldpwd = document.cpForm.OldPwd.value;
			if (oldpwd==''){
				showErrMsg('原密码不能为空！');
				return false;
			}
			
			var newpwd = document.cpForm.NewPwd.value;
			if (newpwd==''){
				showErrMsg('新密码不能为空！');
				return false;
			}
			
			var newpwdv = document.cpForm.NewPwdVerify.value;
			if (newpwdv==''){
				showErrMsg('确认密码不能为空！');
				return false;
			}
			
			if (newpwd != newpwdv){
				showErrMsg('新密码与确认密码不一致！');
				return false;
			}
			
			if (oldpwd == newpwdv){
				showErrMsg('新密码不能与原密码相同！');
				return false;
			}
			
			return true;
		}
	</script>
</head>

<body>
<div class="main">
<form action="/user.php?method=dochangepwd" method="post" name="cpForm">
	<table class="tb_layout">
		<tr>
			<td style="width:75px;height:45px;">原密码：</td>
			<td><input type="password" name="OldPwd" value="" style="width:300px;"/></td>
		</tr>
		<tr>
			<td>新密码：</td>
			<td><input type="password" name="NewPwd" value="" style="width:300px;"/></td>
		</tr>
		<tr>
			<td>密码确认：</td>
			<td><input type="password" name="NewPwdVerify" value="" style="width:300px;"/></td>
		</tr>
		<tr>
			<td></td>
			<td style="height:50px;"><input type="submit" onclick="javascript:return checkSubmit();" value="修改"/>
			&nbsp;&nbsp;<input type="reset" value="清空"/>
			<a id="errMsg" style="color:red;margin-left:10px;display:none;"></a>
			</td>
		</tr>
	</table>
</form>
</div>
</body>
</html>
