<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Wind 交易监控系统1.0 _ 密码找回</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="/statics/css/global.css?<?php echo time();?>"/>
	<style type="text/css">
		div.main { padding:20px 30px; }
	</style>
	<script type="text/javascript">
		function showErrMsg(msg){
			var errMsgObj = document.getElementById('errMsg');
			errMsgObj.innerText = msg;
			errMsgObj.style.display = 'inline-block';
		}

		function checkSubmit(){			
			var UserId = document.frogetForm.UserId.value;
			if (UserId==''){
				showErrMsg('用户名不能为空！');
				return false;
			}
			
			var email = document.frogetForm.email.value;
			if (email==''){
				showErrMsg('E-mail不能为空！');
				return false;
			}
			var expr_email = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;
			if(!expr_email.test(email)) {
				showErrMsg('E-mail格式不正确！');
				return false;
			}
			
			return true;
		}
	</script>
</head>

<body>
<div class="main">
<form action="/forget.php?method=sendemail" method="post" name="frogetForm">
	<table class="tb_layout">
		<tr>
			<td style="width:75px;">用户名：</td>
			<td><input type="text" name="UserId" value="" style="width:300px;"/></td>
		</tr>
		<tr>
			<td>E-mail：</td>
			<td><input type="text" name="email" value="" style="width:300px;"/></td>
		</tr>
		<tr>
			<td></td>
			<td style="height:50px;"><input type="submit" onclick="javascript:return checkSubmit();" value="密码找回"/>
			&nbsp;&nbsp;<input type="reset" value="清空"/>
			<a id="errMsg" style="color:red;margin-left:10px;display:none;"></a>
			</td>
		</tr>
	</table>
</form>
</div>
</body>
</html>
