<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Wind 交易监控系统1.0 _用户角色管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="/statics/css/global.css?<?php echo time();?>"/>
	<script type="text/javascript" src="/statics/js/jquery.min.js"></script>
	<script type="text/javascript" src="/statics/js/num.js"></script>
	<style type="text/css">
		div.main { padding:20px 30px; }
		input[type="text"]{width:320px;}
	</style>
	<script type="text/javascript">
		function close_layer(){
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}
		
		function showErrMsg(msg){
			var errMsgObj = document.getElementById('errMsg');
			errMsgObj.innerText = msg;
			errMsgObj.style.display = 'inline-block';
		}
		
		// 获取待交互的主框架
		function MainFrame(){
			return parent.mainFrame.contentWindow ? parent.mainFrame.contentWindow : parent.mainFrame;
		}
		
		//提交添加/修改
		function ok(){	
			var RoleID = document.getElementById('RoleID').value;
			if (RoleID==''){
				showErrMsg('角色ID不能为空！');
				return false;
			}
			var RoleName = document.getElementById('RoleName').value;
			if (RoleName==''){
				showErrMsg('角色名称不能为空！');
				return false;
			}
			var RoleRemark = document.getElementById('RoleRemark').value;
			
			MainFrame().role_oper_apply('<?php echo $tableid;?>', '<?php echo $oper;?>', RoleID, RoleName, RoleRemark);
			close_layer();
		}
		
		<?php if ($oper=='Mod'): ?>
		//修改时加载初始数据
		$().ready(function(){
			var trObj = $('#<?php echo $tableid;?>', MainFrame().document).find('tr.selected');
			$('#RoleID').val(trObj.children('td').eq(0).text());
			$('#RoleName').val(trObj.children('td').eq(1).text());
			$('#RoleRemark').val(trObj.children('td').eq(2).text());
			
			$('#RoleID').attr("disabled","disabled");
		});
		<?php endif ?>
	</script>
</head>

<body>
<div class="main">
	<table class="tb_layout">
		<tr>
			<td style="width:70px;">角色ID：</td>
			<td><input type="text" id="RoleID" class="num"/></td>
		</tr>
		<tr>
			<td>角色名称：</td>
			<td><input type="text" id="RoleName"/></td>
		</tr>
		<tr>
			<td>备注：</td>
			<td><input type="text" id="RoleRemark"/></td>
		</tr>
		<tr>
			<td></td>
			<td style="height:40px;">
				<input type="submit" onclick="ok();" value="确定"/>
				&nbsp;&nbsp;<input type="reset" onclick="close_layer();" value="取消"/>
				<a id="errMsg" style="color:red;margin-left:10px;display:none;"></a>
			</td>
		</tr>
	</table>
</div>
</body>
</html>
